.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-button {
    width: 84%;
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
